<div class="container">
    <h1 class="text-center">Add User</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter name"  [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" name="name" class="form-control" placeholder="Enter name"  [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select id="cars" name="role" class="form-control" [(ngModel)]="role">
            <option value="Super-admin">Super-admin</option>
            <option value="Admin">Admin</option>
            <option value="Moderator">Moderator</option>
            <option value="Author">Author</option>
          </select>
        </div>
        <button type="button" (click)="addUser()" class="btn btn-primary"  >Submit</button>
    </form>
</div>